@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3b69e2;
  --secondary: #ffece9;
  --background: #ffd9d9;
  --orange: #f1973d;
}

* {
  box-sizing: border-box;
}

*::selection {
  background: var(--background);
}

.box {
  @apply pl-4 pr-3 py-3 rounded-lg lg:shadow-lg bg-secondary;
}

.button {
  @apply pl-4 pr-3 py-3 rounded-lg shadow-lg bg-primary text-secondary transition-all duration-300 disabled:!bg-gray-800 disabled:opacity-50;
}

.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}
.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.fade-exit {
  opacity: 1;
  transform: scale(1);
}
.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.transition-height {
  height: 0px;
  transition: height 0.5s;
  interpolate-size: allow-keywords;
  overflow: hidden;
}

.transition-height.open {
  height: auto !important;
}

.title {
  @apply text-2xl lg:text-3xl 3xl:text-4xl;
}

.subtitle {
  @apply text-lg lg:text-xl 3xl:text-2xl;
}
